@font-face {
  font-family: 'Workout';
  src: url("./fonts/SportageDemo-DO0A1.otf") format("opentype");
}

body {
  font-family: 'Workout';
  color: white;
  margin: 0px;
  font-size: 3em;
}

h1 {
  font-size: 4em;
  margin-bottom: -50px;
}

#app {
  background-color: #2C3E50;
  width: 90%;
  margin: auto;
}