@font-face {
  font-family: 'Workout';
  src: url("./fonts/Granite-Bgvl.ttf") format("truetype");
}

body, html {
  font-family: 'Workout';
  background-color: #2C3E50;
  color: white;
  height: 100%;
}

h1 {
  font-size: 4em;
}

#app {
  height: 100%;
}